.hide {
    display: none;
}

.fork-me img {
    position: fixed;
    bottom: 0;
    right: 0;
    border: 0;
    z-index: 1031;
}

a.app-bar-element.active {
    background-color: #005696;
}

#recaptcha-shorten
{
    width: 304px;
    height: 78px;
    float: left;
}

.url-shortener .btn-shorten {
    float: left;
    margin-top: 1em;
    margin-left: 1em;
}

.url-shortener .content {
    height: 155px;
}

.decoder .panel .content {
    height: 248px;
}

.decoder textarea,
.checksums .CodeMirror,
.code .CodeMirror {
    font-family: 'Source Code Pro', monospace;
    font-size: .675rem;
}

.decoder .textarea {
    width: 100%;
}

.checksums .CodeMirror {
    height: initial;
}